/*
	Rosa Tung
	CS 340
	Final Project
	style.css
*/

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #454497;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.topLabel{
    color: #238487;
    font-weight: bold;
    font-size: 200%
}

label {
    color: #238487;
    font-weight: bold;
    font-size: 18px;
}

table, th, td {
	border: 1px solid black;
	table-layout: fixed;
	padding: 2px;
}